@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-feature-settings: "case", "rlig", "calt", "kern";
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    font-variant-ligatures: contextual common-ligatures;
    font-kerning: normal;

    margin: 0 auto;
    width: 1030px;
}

body * {
    box-sizing: border-box;
}

.level1 {
    box-sizing: border-box;
    width: 1030px;
    height: 1450px;
    padding: 50px 75px;
    background-color: #fff;
    overflow: hidden;
    -webkit-print-color-adjust: exact;

    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-row-gap: 31.25px;
}

.level1 > section {
    display: block;
    grid-column: 1 / 3;
}

p, li {
    margin: 0;
    margin-bottom: 7px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
}

/* Name */
h1 {
    margin: 0;
    color: #323336;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1.3px;
}

/* Contact info */
.header > ul {
    margin: 0;
    padding: 0;
    color: #575b5c;

    justify-self: right;
    align-self: center;
}

.header > ul > li {
    display: inline;
    list-style: none;
}

.header > ul > li:after {
    content: " | ";
}

.header > ul > li:last-child:after {
    content: "";
}

/* Summary */
.header > p:last-of-type {
    margin: 0;
    line-height: 1.5;
    font-weight: 300;
    font-size: 16px;
    color: #575b5c;
}

section.header > section:first-of-type {
    margin-top: 13px;
}

/* Content */
h2 {
    margin: 0 0 13px;
    font-weight: 600;
    line-height: 1;
    color: #A6AAAD;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.2px;
}

h3 > span:not(:first-child), h4 {
    margin: 0;
    color: #707678;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 6.75px;
    text-transform: none;
    letter-spacing: normal;

    display: flex;
    justify-content: space-between;
}

h3 > span:not(:first-child) {
    margin-bottom: 0px;
    color: #575b5c;
}

h3 {
    margin: 0;
    font-weight: 600;
    line-height: 1;
    color: #323336;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 0.07em;
    margin-bottom: 7.75px;

    display: flex;
    justify-content: space-between;
}

a {
    box-sizing: border-box;
    margin: 0;
    min-width: 0;
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-weight: inherit;
}

a:hover {
    opacity: 0.7;
}

.level2 {
    margin: 0;
    min-width: 0;
}

.level2 ul {
    margin: 0;
    padding: 0;
}

.level2 ul li {
    margin-bottom: 6px;
    margin-left: 30px;
    padding-left: 0;
}

.level4:not(:last-child) {
    margin: 0 0 31.25px;
}